
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fade-in-up {
    animation: fadeInUp 4s ease-in forwards;
  }
  
@keyframes bounce-twice {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
  }
  
  .bounce-twice {
    animation: bounce-twice 1s ease-in-out 1;
  }
  
  
  
  